## Imbalanced Dataset Handling

### 1.Upsampling 
### 2.Down Sampling

In [7]:
import numpy as np
import pandas as pd

In [11]:
# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [12]:
n_class_0, n_class_1

(900, 100)

In [13]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [16]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [18]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [19]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

## Upsampling

In [24]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [25]:
df_minority.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [26]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [29]:
# Upsampling perform
from sklearn.utils import resample

In [31]:
df_minority_upsample=resample(df_minority,
                             replace=True, ## sample with replacement
                             n_samples=len(df_majority), # to match the majority class
                             random_state=42
                             )

In [32]:
df_minority_upsample.shape

(900, 3)

In [39]:
df_minority_upsample.shape

(900, 3)

In [41]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [42]:
df_minority_upsample.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [43]:
df_minority_upsample.value_counts()

feature_1  feature_2  target
1.005190   1.110089   1         19
1.915470   1.652041   1         18
3.701608   2.160889   1         18
2.902006   0.390305   1         16
3.013493   2.047240   1         16
                                ..
2.549697   3.095922   1          4
2.013560   2.847260   1          4
2.995595   2.475934   1          4
0.988356   1.835125   1          4
1.245992   2.946908   1          3
Length: 100, dtype: int64

In [44]:
df_upsample = pd.concat([df_majority,df_minority_upsample])

In [45]:
df_upsample['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [46]:
df_upsample.tail()

     feature_1  feature_2  target
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

In [47]:
df_upsample.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [48]:
df_upsample.shape

(1800, 3)

## DownSampling

In [49]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [50]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [51]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [58]:
df_majority_downsample=resample(df_majority,
                             replace=False, ## sample without replacement
                             n_samples=len(df_minority), # to match the minority class
                             random_state=42
                             )

In [59]:
df_majority_downsample.shape

(100, 3)

In [62]:
df_downsample = pd.concat([df_minority, df_majority_downsample])

In [64]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64